#footer-container {
  margin-top: 10px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--themeMain);
  color: #fff;
}
