#overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: var(--defaultMargin);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;

}

/* --------------transition---------------- */

.overlay-transition-enter,
.overlay-transition-appear {
  opacity: 0;
}

.overlay-transition-enter-active,
.overlay-transition-appear-active {
  opacity: 1;
  transition: all var(--defaultTransition);
}

.overlay-transition-exit {
  opacity: 1;
}

.overlay-transition-exit-active {
  opacity: 0;

  transition: all var(--defaultTransition);
}
