#temperature-convertor-container {
  margin-top: 10px;
  padding: 20px;

  border-radius: 10px;
  box-shadow: var(--shadowMain);
  background-color: var(--themeLite);
}
#temperature-div {
  display: flex;
  flex-direction: column;

  text-align: center;
}
#temperature-convertor-container ul {
  border-left: 5px solid var(--themeContrast);
}

.temperature-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--themeContrast);
  padding-bottom: 5px;
  margin-bottom: 25px;
}

#options-grid {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
