.weather-card {
  max-width: 200px;
  min-width: 120px;
  flex: 1;

  height: 220px;
  border: 1px solid var(--themeLite);
  border-radius: 5px;

  margin-right: 10px;
  text-align: center;
}

.weather-card b {
  font-size: var(--textSizeSmall);
}
.weather-card p {
  color: var(--themeMain);
  margin: 0;
  padding: 0;
  display: inline;
  font-size: var(--textSizeSmall);
}

.weather-card div {
  margin: 10px;
}


.weather-card.weather-card-active{
  background-color: var(--themeMain);
  color: var(--themeContrast);
}
.weather-card.weather-card-active p {
  color: var(--themeContrast);
}